---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import {
	SITE_TITLE,
	SITE_DESCRIPTION,
	TWITTER_URL,
	GITHUB_URL,
	EMAIL_ADDRESS,
} from "../consts";
---

<!doctype html>
<html lang="ja">
	<style>
		h1 {
			text-align: center;
		}
		.title {
			font-size: 2.5em;
		}
		p {
			margin-bottom: 1em;
			padding: 0;
		}
	</style>

	<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />

	<body>
		<Header />
		<main>
			<h1 class="title">Udonのホームページ</h1>
			<p>こんにちは。Udonと申します。</p>
			<h3>掲載しているもの</h3>
			<ul>
				<li><a href="/about">自己紹介</a></li>
				<li>
					<a href="/blog">ブログ</a>
					<ul>
						<li>個人的な話題や成果物の話を書きます</li>
					</ul>
				</li>
				<li><a href="/career">経歴</a></li>
			</ul>
			<h3>リンク集</h3>
			<ul>
				<li><a href={TWITTER_URL} target="_blank">Twitter(現X)</a></li>
				<li><a href={GITHUB_URL} target="_blank">GitHub</a></li>
				<li>
					<a href="https://htn-udon.hatenablog.com/">はてなブログ</a>
					<ul>
						<li>趣味や大学の話を書いています</li>
					</ul>
				</li>
				<li>
					<a href="https://qiita.com/Q_udon">Qiita</a>
					<ul>
						<li>広く公開できそうな技術の話を書いています</li>
					</ul>
				</li>
				<li>
					<a href="https://zenn.dev/z_udon">Zenn</a>
					<ul>
						<li>ほぼ更新していないです</li>
					</ul>
				</li>
				<li>
					<a href="https://atcoder.jp/users/ccc_udon">AtCoder</a>
					<ul>
						<li>
							茶色(<FormattedDate
								date={new Date("2026-06-28")}
							/>時点)
						</li>
					</ul>
				</li>
				<li>
					<a href="https://www.youtube.com/@udon1197">YouTube</a>
					<ul>
						<li>MAD動画などを投稿しています</li>
					</ul>
				</li>
			</ul>
			<h3>このページの技術スタック</h3>
			<ul>
				<li>
					<a href="https://astro.build/" target="_blank">Astro.js</a>
				</li>
				<li>HTML/CSS</li>
				<li>JavaScript</li>
				<li>TypeScript</li>
			</ul>
			<h3>連絡先</h3>
			<ul>
				<li>
					<a href={TWITTER_URL} target="_blank">Twitter(現X)-DM</a>
				</li>
				<li>{EMAIL_ADDRESS}</li>
			</ul>
		</main>
		<Footer />
	</body>
</html>
